[user]
  name=aqyuki
  email=yksk171118@gmail.com
	signingKey = 4F40AD589E1ECE72

[init]
  defaultBranch=main
  defaultRemote=origin
  defaultRemoteBranch=main

[commit]
  gpgsign=true

[core]
  editor=nano

[alias]
  ch = checkout
  c = commit
  s = status
  st = stash
  b = branch
  f = fetch
  fp = fetch --prune

# tool config
[ghq]
  vcs=git
  root=~/repo

[gh]
  root=~/repo