// use fish as the zellij shell
default_shell "fish"

// keybindings
keybinds {
    normal {
        bind "Alt w" { CloseFocus; }
    }

    pane {
        bind "w" { CloseFocus; }
    }

    tab {
        bind "w" { CloseTab; }
    }
}
