// use fish as the zellij shell
default_shell "fish"

// keybindings
keybinds {
    normal {
        bind "Alt w" { CloseFocus; }
        bind "Alt \\" { NewPane "Right"; }
        bind "Alt -" { NewPane "Down"; }
    }

    pane {
        bind "Ctrl w" { CloseFocus; }
        bind "Ctrl \\" { NewPane "Right"; }
        bind "Ctrl -" { NewPane "Down"; }
    }

    tab {
        bind "Ctrl w" { CloseTab; }
    }
}
